.display-soal {
  display: flex;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.btn-collapse-chevron {
  transition: 500ms;
  border: none;
}

.btn-collapse-chevron:not(.collapsed) {
  transform: rotate(-180deg);
}

.leaderboard .leaderboard-player {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
