body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-family: outfit, sans-serif;
}

nav.navbar {
  background: white;
  /* font-family: montserrat; */
  /* color: white; */
  padding-block: 0.25rem !important;
}

nav.navbar .navbar-brand {
  color: #e79c2b !important;
  /* margin-right: auto; */
  font-weight: 600;
  font-family: outfit, sans-serif;
}

.custom-input-group {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.375rem;
  display: flex;
  border-radius: 7px;
  gap: 0.375rem;
}
.custom-input-group input {
  border: none;
  outline: none;
  /* flex-grow: 1; */
  padding-left: 0.5rem;
  width: 100% !important;
}


